/* regole generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* macro blocco principale */
#wrapper {
    display: flex;
    height: calc(100vh - 100px);
    /* DEBUG */
    background-color: black;
}


/* blocco navigazione principale */
#wrapper nav {
    height: 100%;
    width: 250px;
    margin-left: 20px;
    margin-top: 20px;
    /* DEBUG */
    background-color: black;
}


/* blocco di contenuto principale */

#topbar {
    height: 100px;
    background-color: black;
}

#wrapper main {
    overflow: auto;
    height: 100%;
    width: calc(100% - 250px);
    /* DEBUG */
    background-color: green;
}

nav img {
    width: 100px;
}

ul li {
    list-style: none;
    margin-top: 10px;
}

ul img {
    width: 20px;
}

a {
    text-decoration: none;
    color: white;
}


/* player/controller */

#player {
    height: 100px;
    background-color: black;
}



/* versione small mmobile */
@media screen and (max-width:480px) {

    /* blocco navigazione principale */
    #wrapper nav {
        width: 80px;
    }


    /* blocco di contenuto principale */
    #wrapper main {
        width: calc(100% - 80px);
    }


}