/* regole generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* macro blocco principale */
#wrapper {
    display: flex;
    height: calc(100vh - 100px);
    /* DEBUG */
    background-color: black;
}


/* blocco navigazione principale */
#wrapper nav {
    height: 100%;
    width: 250px;
    margin-left: 20px;
    margin-top: 20px;
    /* DEBUG */
    background-color: black;
}


/* blocco di contenuto principale */

#topbar {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.866);
    margin-bottom: 20px;
}

#wrapper main {
    overflow: auto;
    height: 100%;
    width: calc(100% - 250px);
    /* DEBUG */
    background-color: red;
}

nav {
    color: lightgray;
}

nav img {
    width: 150px;
}

ul li {
    list-style: none;
    margin-top: 10px;
}

ul img {
    width: 20px;
}

a {
    text-decoration: none;
    color: lightgray;
}

nav h3 {
    margin-top: 20px;
}

nav p img {
    width: 20px;
}

.lg-margin-top {
    margin-top: 220px;
}

.profile-btn {
    border-radius: 50%;
    background-color: lightgray;
}

main ul {
    width: 60%;
    display: flex;
    color: lightgrey;
    justify-content: space-between;
    margin: 0 auto;
}

h2 {
    color: white;
    font-weight: bold;
    margin: 20px;
    margin-left: 10px;
}

.first-row {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    background-color: blue;
}

.card {
    width: 200px;
    height: 220px;
    text-align: center;
    color: lightgray;
    margin-left: 0;
}

.card img {
    height: 180px;
}

main h3 {
    font-size: medium;
}

.other-rows {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    background-color: blue;
}


/* player/controller */

#player {
    height: 100px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.842);
}

footer img {
    width: 40px;
}


/* versione small mmobile */
@media screen and (max-width:480px) {

    /* blocco navigazione principale */
    #wrapper nav {
        width: 80px;
    }


    /* blocco di contenuto principale */
    #wrapper main {
        width: calc(100% - 80px);
    }


}